.header{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    background-color: #000;
    color: #fff;
}
.header a{
    text-decoration: none;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo small{
    margin-left: 10px;
    font-size: 30px;
    font-style:italic ;
}
.header img{
    width:48px;
    height: 48px;
    border-radius: 50%;
}
.header nav a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;
    color:#fff
}
.header nav a:hover{
    color:rgb(202, 202, 202)
}
.headerInfo{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}